@font-face {
	font-family: CallieHand;
	src: url('../font/Callie_Hand-Trial_Version.otf');
}
@font-face {
	font-family: Mido;
	src: url('../font/Mido.otf');
}

body * {
	border-style: solid;
	border-color: transparent;
	
	font-face: Mido;
}
.glyphicon {
	font-face: Arial;
	color: #FFF;
	font-size: 30px;
}
.overlay-background {
	background-color: rgba(222,206,183,0.85);
}

.italicized {
	font-style: italic;
}

.offset-0 {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 992px) {
	.push-right  {
		right: 12vh;
	}	
}

body {
	background-color: #D8C5A7;
}

img {
	width: 100%;
	margin: auto;
	display: block;
}
img.social-media-icon {
	height: 50px;
	width: 50px;
}

header#nav-container>nav>ul {
	list-style-type: none;
	padding: 0px;
}
header#nav-container a {
	text-decoration: none;
	color: #808080;
	font-weight: bold;
}
header#nav-container a:hover {
	color: #B99662;
}
header.title-container {
	font-family; CallieHand
}
header.title-container>h1 {
	text-transform: uppercase;
	font-size: 40px;
	word-break: break-all;
}
header#title-container-md-lg {
	height: 81vh;
	width: 24.5%;
	
	position: absolute;
	right: 14vh;
	top: 38px;
	z-index: 1;
}
header.title-container {
	text-align: center;
}
header.title-container>* {.;;;;
	position: relative;
	top: 47%;
	
	padding: 0px;
	margin: auto;
	
	color: #808080;
}

section#main-content {
	height: 80vh;
	overflow: hidden;
	margin-right: 30px;
	margin-left: 30px;
}
section#main-content article {
	height: 100%;
	overflow: hidden;
}

section#main-content article#home {
	height: 80vh;
}

article#about section#detail-container{
	font-size: 30px;
}

article#artist section#bio-container {
	height: 100%;
}
article#artist section#bio-container {
	height: 100%;
}
section#bio-container p#social-media {
	display: flex;
}
footer {
	text-align: center;
}