body * {
	border-style: solid;
	border-size: 1;
}
section#main-content {
	height: 80vh;
	overflow: hidden;
	margin-right: 30px;
	margin-left: 30px;
}
section#main-content article {
	height: 100%;
}
section#main-content article#home {
	height: 80vh;
	overflow: hidden;
}
img.main-carousel {
	width: 100%;
	margin: auto;
	display: block;
}