body * {
	border-style: solid;
	border-color: transparent;
}

.overlay-background {
	background-color: rgba(222,206,183,0.85);
}
.italicized {
	font-style: italic;
}

body {
	background-color: #F8F7F7;
}

img {
	width: 100%;
	margin: auto;
	display: block;
}
img.social-media-icon {
	height: 50px;
	width: 50px;
}

header#nav-container>nav>ul {
	list-style-type: none;
}
header.title-container>h1 {
	text-transform: uppercase;
	font-size: 40px;
}
header#title-container-md-lg {
	height: 81vh;
	
	position: absolute;
	right: 5px;
	top: 38px;
	z-index: 1;
}
header.title-container {
	text-align: center;
}
header.title-container>* {
	position: relative;
	top: 47%;
	
	padding: 0px;
	margin: auto;
	
	color: #808080;
}

section#main-content {
	height: 80vh;
	overflow: hidden;
	margin-right: 30px;
	margin-left: 30px;
}
section#main-content article {
	height: 100%;
}
section#main-content article#home {
	height: 80vh;
	overflow: hidden;
}

article#artist section#bio-container {
	background-color: #FFF;
	height: 100%;
}
section#bio-container p#social-media {
	display: flex;
}
footer {
	text-align: center;
}